<p>rip-json component loaded(remove this element later)</p>

<h2>Month: {{rawData.month}}</h2>
<h2>Comic number: {{rawData.num}}</h2>
<h2>Link(if provided): {{rawData.link}}</h2>
<h2>Year: {{rawData.year}}</h2>
<h2>News(if provided): {{rawData.news}}</h2>
<h2>Safe title: {{rawData.safe_title}}</h2>
<h2>Transcript(if provided): {{rawData.transcript}}</h2>
<h2>Alt text: {{rawData.alt}}</h2>
<img src={{rawData.img}}>
<h2>Title: {{rawData.title}}</h2>
<h2>Day: {{rawData.day}}</h2>
<h2>Link to retinaimg(if provided): {{rawData.imgRetina}}</h2> 
<!--if imgRetina does not exist from api (only exists on more recent comics) this seems to just not display-->