<!DOCTYPE html>

<img id="author_pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/XkcdMunroe.jpg/220px-XkcdMunroe.jpg">

<div id="author_text">
  Randall Patrick Munroe was born on October 17, 1984.
  Before creating a really cool comic series, XKCD, he was contracted for NASA as a programmer and robotocist.
  He first started XKCD in September 2005. The comics are generally related to STEM (science, technology, engineering, mathematics), philosophy,language, pop culture, romance, and physics. So pretty much everything.
</div>

<button (click)="goBack()">Go Back</button>