<!DOCTYPE html>
<h2>Comic Information</h2>
<div id = "comic_info">
  <h2>Date Published - {{rawData.month}}/{{rawData.day}}/{{rawData.year}}</h2>
  <h2>Comic number - {{rawData.num}}</h2>
  <h2>Permanent Link - https://xkcd.com/{{rawData.num}}</h2>
</div>
<!-- <h2>My Comics</h2>
  {{rawData.link}}
<div>
    <h2>Comic number: {{rawData.num}}</h2>
</div> -->
<!-- <ul class="comics">
  <li></li>
  <li *ngFor="let comic of comics">
    <a routerLink="/detail/{{comic.id}}">
      <span class="badge">{{comic.id}}</span> {{comic.name}}
    </a>
  </li>
</ul> -->
<!-- <div>
  <img src={{rawData.img}}>
</div> -->
<!-- Don't call the component within the component -->
<!-- <app-xkcd></app-xkcd>  -->
<!--  -->