/* XkcdComponent's private CSS styles */
* {
  text-align: center;
}
#comic_info{
  background-color: white;
  border-style: solid;
  border-color: black;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
}

a {
  font-size: 20px;
}

a:hover {
  color: red;
}

