#title {
  text-align: center;
}

img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

div {
  text-align: center;
  margin-top: 20px;
}

#comic {
  max-height: 500px;
  max-width: 75%;
  width: auto;
  border-style: solid;
  border-color: black;
}

#prev {
  max-height: 500px; 
  max-width: 10%;
}

#next {
  max-height: 500px; 
  max-width: 10%;
}

#prev:hover {
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

#next:hover {
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(100%);
}

a {
  font-size: 20px;
}

a:hover {
  color: red;
}
