#title {
  text-align: center;
}

img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

div {
  text-align: center;
  margin-top: 20px;
}

#comic {
  max-height: 500px;
  max-width: 75%;
  width: auto;
  border-style: solid;
  border-color: black;
}

#prev {
  vertical-align: 200%;
  max-height: 500px; 
  max-width: 10%;
}

#next {
  vertical-align: 200%;
  max-height: 500px; 
  max-width: 10%;
}

#prev:hover {
  filter: invert(10%) sepia(1%) saturate(10%) hue-rotate(180deg) brightness(1000%) contrast(200%);
}

#next:hover {
  filter: invert(10%) sepia(10%) saturate(50%) hue-rotate(180deg) brightness(1000%) contrast(200%);
}

a {
  font-size: 20px;
}

a:hover {
  color: red;
}

#about_comic{
  background: white;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  width: 120px;
 


}
