/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: rgb(68, 63, 48);
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
  }
  body {
    background-color: rgb(226, 213, 136);
    margin: 2em;
  }
  body, input[type="text"], button {
    color: rgb(136, 136, 136);
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  #comic_strip{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .title{
    text-align: center;
    font-size: 36px;
    padding: 10px;
  }
  